<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zscat.mallplus.sys.mapper.SysPermissionCategoryMapper">
    <resultMap id="BaseResultMap" type="com.zscat.mallplus.sys.entity.SysPermissionCategory">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="type_count" property="typeCount"/>
        <result column="show_status" property="showStatus"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`name`,`icon`,`type_count`,`show_status`,`sort`
    </sql>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_permission_category where id = #{value}
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_permission_category
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="icon != null and icon != ''">and icon = #{icon}</if>
            <if test="typeCount != null and typeCount != ''">and type_count = #{typeCount}</if>
            <if test="showStatus != null and showStatus != ''">and show_status = #{showStatus}</if>
            <if test="sort != null and sort != ''">and sort = #{sort}</if>
        </where>

    </select>
    <select id="count" resultType="int">
        select count(*) from sys_permission_category
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="icon != null and icon != ''">and icon = #{icon}</if>
            <if test="typeCount != null and typeCount != ''">and type_count = #{typeCount}</if>
            <if test="showStatus != null and showStatus != ''">and show_status = #{showStatus}</if>
            <if test="sort != null and sort != ''">and sort = #{sort}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.zscat.mallplus.sys.entity.SysPermissionCategory">
        insert into sys_permission_category
        (
        `id`,
        `name`,
        `icon`,
        `type_count`,
        `show_status`,
        `sort`
        )
        values
        (
        #{id},
        #{name},
        #{icon},
        #{typeCount},
        #{showStatus},
        #{sort}
        )
    </insert>

    <update id="update" parameterType="com.zscat.mallplus.sys.entity.SysPermissionCategory">
        update sys_permission_category
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="icon != null">`icon` = #{icon},</if>
            <if test="typeCount != null">`type_count` = #{typeCount},</if>
            <if test="showStatus != null">`show_status` = #{showStatus},</if>
            <if test="sort != null">`sort` = #{sort}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete from sys_permission_category where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from sys_permission_category where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
